<!DOCTYPE html>
<html>
  <head>
    <title>Workout log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= link_to "Home", root_path %>
  <%= link_to "Add exercise", new_post_path %>
  <body>
    <%= yield %>
  </body>
</html>
